asgiref==3.8.1
colorama==0.4.6
diff-match-patch==20230430
Django==5.1
django-filter==24.3
django-htmx==1.19.0
django-import-export==4.1.1
django-template-partials==24.4
django-widget-tweaks==1.5.0
factory-boy==3.3.0
Faker==27.0.0
iniconfig==2.0.0
numpy==2.1.0
packaging==24.1
pandas==2.2.2
pillow==10.4.0
plotly==5.23.0
pluggy==1.5.0
pytest==8.3.2
pytest-django==4.8.0
python-dateutil==2.9.0.post0
pytz==2024.1
six==1.16.0
sqlparse==0.5.1
tablib==3.5.0
tenacity==9.0.0
tzdata==2024.1
