{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Finance Tracker App</title>

    <!-- Custom files -->
    <link href="{% static 'main/css/custom.css' %}" rel="stylesheet" />
    <link href="{% static 'main/css/style.default.css' %}" rel="stylesheet" />
    <!-- fontawesome icons -->    
    <link rel="stylesheet" href="{% static 'main/css/fontawesome.css' %}">
</head>
<body hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}'>

    {% include 'main/includes/sidebar.html' %}
    <div id="content">
        {% include 'main/includes/navbar.html' %}
        {% block content %}
        {% endblock %}
    </div>

    {% include 'main/includes/footer.html' %}
    <script src="{% static 'main/js/theme.js' %}"></script>
    <script src="{% static 'main/js/bootstrap.bundle.min.js' %}"></script>
    <!-- FontAwesome - loading as last, so it doesn't block rendering-->
    <script src="{% static 'main/js/fontawesome.js' %}"></script>

    <!-- HTMX -->
    <script src="{% static 'main/js/htmx.min.js' %}" defer></script>   
    
    <script src="{% static 'main/js/script.js' %}" defer></script> 
    
    <script src="https://cdn.plot.ly/plotly-2.34.0.min.js" charset="utf-8"></script>

</body>
</html>