{% extends 'main/base.html' %}
{% load static %}
{% block content %}
<!-- HERO SECTION-->  
<div class="bg-image bg-cover bg-center" style="background-image: url({% static 'main/img/finance-tracker.jpg' %}); height: 100vh">           
    <div class="position-absolute top-50 start-50 translate-middle text-start d-block">
        <h1 class="text-primary text-uppercase header">
            Handle your finances well
        </h1>
        <p class="fw-light fs-3 text-secondary">
            {% if user.is_authenticated %}
                Welcome, {{user.username}}
            {% else %}
                Welcome to Finance Tracker App
            {% endif %}
        </p>


    </div> 
</div>
<section class="py-4 text-center text-md-start">  
    
    <div class="container py-4">
        
        <div class="py-4 text-center">
            {% if user.is_authenticated %}
            {% else %}
            <div class="bg-primary text-white py-4">
                <h1 class="mb-4">Are you ready to level up financially?</h1>
                <a href="{% url 'user-register' %}" class="btn btn-orange">Sign up now</a>
            </div>
            {% endif %}
            
        </div>
        {% if user.is_authenticated %}
        <div class="row gy-4">
            <div class="col-md-6">
                <div class="card h-100 bg-primary">
                    <a href="{% url 'main-transactions' %}" class="card-body d-flex flex-column text-center text-secondary fs-2">
                        <i class="fa-solid fa-chart-simple text-secondary fs-2"></i>
                            View my transactions
                        <p class="fw-light text-sm text-white">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                        </p>
                    </a>
                </div>
            </div>
            <div class="col-md-6">
                <div class="card h-100 bg-primary">
                    <a href="{% url 'transactions-charts' %}" class="card-body d-flex flex-column text-center text-secondary fs-2">
                        <i class="fa-solid fa-chart-pie text-secondary fs-2"></i>
                            View my Charts
                        <p class="fw-light text-sm text-white">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                        </p>
                    </a> 
                </div>
            </div>
        </div>
        {% else %}
        <p class="text-dark text-center">{% lorem 1 b random %}</p>
        {% endif %}
    </div>
</section>
{% endblock content %}