{% extends 'main/base.html' %}
{% load static %}
{% block content %}
<div class="row gy-4">
    <div class="col-md-7 py-4 d-flex justify-content-center align-items-center vh-100">
        <div class="container py-4 text-center">
            <h1>Login to your account</h1>
            <p>Login using social networks</p>
            <div class="social d-flex text-enter justify-content-center gap-2">
                <p><i class="fa-brands fa-facebook fa-2x color-facebook"></i></p>
                <p><i class="fa-brands fa-google-plus-g fa-2x color-google-plus"></i></p>
                <p><i class="fa-brands fa-linkedin fa-2x color-linkedIn"></i></p>
            </div>
            or
            <form method="POST">
                {% csrf_token %}
                <div class="mb-3">
                    <input type="email" class="form-control" name="email" id="" placeholder="email"/>
                </div>   
                <div class="mb-3">
                    <input type="password" class="form-control" name="password" id="" placeholder="password"/>
                </div>   
                
            </form>
            <button class="btn btn-orange" type="submit">Sign In</button>
        </div>
    </div>
    <div class="col-md-5 bg-primary text-white d-flex justify-content-center align-items-center vh-100">
        <div class="container py-4 text-center">
            <h1>New Here?</h1>
            <p>{% lorem 1 b random %}</p>
            <a href = "{% url 'register' %}" class="btn btn-orange">Sign Up</a>
        </div>
    </div>
</div>

{% endblock content %}