{% load static %}

<div class="bg-primary text-white p-4">
    <div class="row gy-4 align-items-center">
        <div class="col-md-4 text-center">
            <i class="fa-solid fa-money-bill-wave fa-2x"></i>
            <p>Blanditiis tenetur reprehenderit ut rerum laboriosam labore dolores, ad fugit consequatur expedita nesciunt, voluptas alias ab fuga voluptatum exercitationem eius tempore optio quidem.</p>
        </div>
        <div class="col-md-4 text-center">
            <p>Copyright &#169; All rights reserved.</p>
        </div>
        <div class="col-md-4">
            <ul class="list-unstyled">
                <li class="py-2">Terms and Conditions</li>
                <li class="py-2">Privacy Policy</li>
            </ul>
        </div>
    </div>
</div>