{% load static %}
<div class="bg-primary sticky-top">
  <!-- Toggle Sidebar Button -->
   <div class="d-flex align-items-center py-2 px-4">
      <button class="btn" type="button" id="toggleSidebar">
          <i class="fa-solid fa-bars"></i>
      </button>
    
      <div class="input-group">
          <div class="form-outline d-flex" data-mdb-input-init>
            <input type="search" id="form1" class="form-control" placeholder="Search..."/>
            <button type="button" class="btn bg-secondary" data-mdb-ripple-init>
              <i class="fas fa-search"></i>
            </button>
          </div>
      </div>

      <a href="{% url 'login' %}" class="btn btn-orange">
        <span class="d-flex align-items-center"><i class="fa fa-sign-in me-2"></i>login</span>       
      </a>
   </div>
  
</div>
  